* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/* Font */
main, header {
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

h2 {
    padding: 1rem 0;
}

h3 {
    padding: 1rem 0 0.5rem 0;
}

header {
    padding: 2rem 4rem;
    background: #f2d992;
    text-align: center;
}

main {
    padding: 2rem 0;
}

header h1{
    padding-bottom: 1rem;
}

#container {
    margin: auto;
    width: 70%;
}

/* CV */
#cv {
    display: flex;
}

#cv_head {
    text-align: center;
    height: 6rem;
    background-color: #c7f2f2;
}

#cv_left{
    width: 30%;
    background-color: #c7f2f2;
}

#cv_left, #cv_right, #cv_contact_form, fieldset {
    padding: 2rem 1rem;
}

#cv_experience, #cv_study {
    min-height: 200px;
}

#cv_others table {
    width: 100%;
}

#cv_others table tr:nth-child(even) {
    background-color: #c7f2f2;
}

#cv .cv_1_experience, #cv .cv_1_study {
    padding: 0.5rem 0.5rem;
}

/* Other */
.date {
    font-weight: bold;
}

li {
    padding-left: 1rem;
    list-style: none;
}

#cv img {
    width: 100%;
}

section {
    margin-bottom: 2rem;
}

th, tr, td {
    padding: 0.5rem 1rem;
}

section dl {
    background-color: #f2d992;
}

dt, dl {
    padding: 0.5rem 0.5rem;
}

/* Media */
@media screen and (max-width: 1300px) {
    #container {
        width: 90%;
    }

    #cv_left {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    #cv {
        flex-direction: column;
    }

    #cv_left {
        width: 100%;
    }
}

