* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/* Font */
main, header {
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

h3 {
    padding: 1rem 0 0.5rem 0;
}

header {
    padding: 2rem 4rem;
    background: #d5d5d5;
    text-align: center;
}

main {
    padding: 2rem 0;
}

header h1{
    padding-bottom: 1rem;
}

#container {
    margin: auto;
    width: 70%;
}

/* CV */
#cv {
    display: flex;

}

/* Contact form */