* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/* Font */
main, header {
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

h2 {
    padding: 1rem 0;
}

h3 {
    padding: 1rem 0 0.5rem 0;
}

header {
    padding: 2rem 4rem;
    background: #f2d992;
    text-align: center;
}

main {
    padding: 2rem 0;
}

header h1{
    padding-bottom: 1rem;
}

#container {
    margin: auto;
    width: 70%;
}

/* CV */
#cv {
    display: flex;
}

#cv_head {
    text-align: center;
    height: 6rem;
    background-color: #c7f2f2;
}

#cv_left{
    width: 20%;
    background-color: #c7f2f2;
}

#cv_left, #cv_right {
    padding: 2rem 1rem;
}

/* Contact form */

/* Other */
li {
    padding-left: 1rem;
    list-style: none;
}
